* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: lexend deca, sans-serif;
}

#container {
	display: grid;
	height: 100vh;
	grid-template-columns: repeat(4, 1fr);
	grid grid-auto-rows: 200px;
	gap: 20px;
}

.item {
	border-radius: 4px;
	background-color: rgb(197, 93, 64);
}

h3 {
	color: white;
	position: relative;
}

p {
	color: #b1b1b1;
	position: relative;
}

item1 {
	grid-column: span 2;
	grid-row: span 2;
}

item4 {
	grid-column: 1;
	grid-row: 3;;
}

